body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
}
.container .logo{
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4);
}
.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4);
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}


.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
    border-radius: 25px;

}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:#390ab9 ;
    border-radius: 2px ;
}
.container .center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;

}

.box{ width:  450px;
    background: rgb(161, 161, 199);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(216, 24, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box img{
    border-radius: 10%;
    width: 250px;
    height: 250px;
    transition: 0.5s ;
    cursor: pointer;
}
.box img:hover{
   transform: scale(0.9);
}
.box h1{
    font-size: 45px;
    color: crimson;
}
.box h4{
    font-size: 25px;
    }
span{
    color: blue;
    font-style: italic;
}    
.box p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 8px;
    list-style: none;
}
.box li a{
    font-size: 40px;
    color: rgb(27, 11, 167);
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: aqua;
}
ol li::before{
    content: "🚴🏻‍♀️";
   
}
